<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106696086289-he2cvdpef364cegl7j12r3kt7n4pn8ue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106696086289-he2cvdpef364cegl7j12r3kt7n4pn8ue</string>
	<key>API_KEY</key>
	<string>AIzaSyCAn7jUWvb8fts1uCV4ugckQnpfQJjSiy8</string>
	<key>GCM_SENDER_ID</key>
	<string>106696086289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>intagram-clone-4499c</string>
	<key>STORAGE_BUCKET</key>
	<string>intagram-clone-4499c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106696086289:ios:a1bb9610329ecd286872b0</string>
</dict>
</plist>